nav a {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

nav a:hover {
  text-decoration: underline !important;
  color: white;
}

nav i {
  color: white;
}

nav {
  background-color: black;
  opacity: .8;
  border-bottom-style: solid;
  border-width: thin;
  border-color: white;
}

.main-bg {
  background-image: url("../images/main-bg2.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.maintext {
  margin: auto;
  text-align: center;
}

.maintext h1 {
  font-size: 60px;
  text-shadow: 10px 10px 15px #000000;
}

.hrmain {
  width: 15%;
  height: 3px;
  background-color: #F1948A;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: medium;
  opacity: 0.5;
  margin-top: 30px;
}

.portfolio {
  text-align: center;
  margin: 50px;
}

.portfolio img {
  margin: 10px;
}

.about {
  text-align: center;
}

.portfoliobg {
  background-color:  #FAEBD7;
  text-align: center;
}
